################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/HW#4 - B.9777547b/x64/Debug
/.vs/HW#4 - Binary Search Tree/v17
/.vs/HW#4 - Binary Search Tree/FileContentIndex
